# prevent inheritance of lombok configurations from parent directories
config.stopBubbling = true

# remove @ConstructorParameters annotation
lombok.anyConstructor.suppressConstructorProperties = true

# remove @Generated annotation
lombok.addGeneratedAnnotation = false

# fluent accessors by default
lombok.accessors.fluent = true
