<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="docker-base-image-swapper" status="INFO">
    <Loggers>
        <Root level="TRACE">
            <AppenderRef ref="Console" level="ALL"/>
        </Root>
    </Loggers>

    <Appenders>
        <Console name="Console" target="SYSTEM_ERR">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n%throwable</Pattern>
            </PatternLayout>
        </Console>
    </Appenders>
</Configuration>
